.single-widget.category
  %h3.title
    Blog Categories
  %ul.categor-list
    %li
      %a{href: "/pt_resources?category=200"}
        CLEAN & SLIM
    %li
      %a{href: "/pt_resources?category=10"}
        MY GUT MY BRAIN
        
    %li
      %a{href: "/pt_resources?category=10"}
        DAILY SUPPLEMENTS

    %li
      %a{href: "/pt_resources?category=10"}
        DR CHO'S HEALTHY RECIPE
 
