%section.blog.grid.section
  .container
    .row
      .col-lg-8.col-12
        .row
          - @pt_resource.each do |a|
          .single-widget.recent-post
            %h3.title
              Recent post
            -if a.isnew
              .single-post
                .image
                  %img{src: "https://via.placeholder.com/200x200", alt: "#"}
                .content
                  %h5
                    %a{href: "#"} 
                      = a.title
                  %ul.comment
                    %li.fa.fa-calendar
                      = a.created_at
                    %li.fa.fa-commenting-o
            .single-post
              .image
                %img{src: "https://via.placeholder.com/200x200", alt: "#"}
              .content
                %h5
                  %a{href: "#"} We have annnocuced our new product.
                  %ul.comment
                    %li.fa.fa-calendar
                      Jan 11, 2020
                    %li.fa.fa-commenting-o
                      35





