.grid_100.is-margin-top-2
  .container
    %div.grid_subtitle.has-text-centered
      = @pt_resource.title
    %div.grid_100.is-5
      .container.has-text-justified
        = @pt_resource.body.html_safe
      %br
      - if File.extname(@pt_resource.link).strip.downcase[1..-1] == "pdf"
        %iframe{:src => "/assets/" + @pt_resource.link, :width => "96%", :height => "780", :style => "border: none;"}
      - else 
        .container
          View full article
          %br
          = link_to @pt_resource.link
