.grid_100
  .container
    %div
      = link_to "X close",'javascript:window.close()', class: "float-right btn btn-outline-secondary btn-sm"
      %br
      %br
    %h3.text-center.title.is-margin-top-2
      = @pt_resource.title
    %div.grid_100.is-5.is-margin-top-2.has-text-justified
      = @pt_resource.body.html_safe
      %br
      - if File.extname(@pt_resource.link).strip.downcase[1..-1] == "pdf"
        %iframe{:src => "/assets/" + @pt_resource.link, :width => "96%", :height => "780", :style => "border: none;"}
      - else 
        - if @pt_resource.link != ""
          %br
          %h4.text-navy
            /= link_to @pt_resource.link, @pt_resource.link
