= render partial: "/layouts/admin_menu" 
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            We Care For You!
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            We are here for your ultimate health journey.

        -if user_signed_in? && current_user[:role]=="admin"  
          = link_to "Add new blog", new_pt_resource_path
        = render partial: "single_blog" 
