//@param material [Material] an instance of Material to render the form for.
.container
  .row
    .col-lg-12
    = simple_form_for qna_list,  html: { class: "form-horizontal center"},  input_html: {  } do  |f|
      = f.input :question, placeholder: "Question", label: 'Question'
      = f.input :answer, placeholder: "Answer", :input_html => { 'rows' => 10, 'cols' => 130 }, label: 'Answer', :as => :text     
      = f.submit "Submit", class: "btn btn-info"

