.grid_100.has-text-centered
  .row
    .grid_12.marTop5.txt_center
      %h2.txt_center Add New Question and Ansuwer 
      .dez-separator-outer
        .dez-separator.bg-primary.style-liner
    = render "form", qna_list: @qna_list
