.grid_100.has-text-justified.is-margin-top-2
  .container
    %h1.title.is-3.has-text-centered
      ADD A NEW USER 
      %br
    = link_to "go back to list",'javascript:history.back()', class: "btn btn-outline-secondary btn-sm float-right"
    = render "form", user: @user
