.grid_100.is-border-top.is-border-bottom.is-marginless.admin_title_section.title_201
  .center.container
    %div.breadcrumb-box
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
          %li.breadcrumb-item
            Admin / Users     
          %li.breadcrumb-item.active{"aria-current" => "page"} 
    %div.title-box
      %h1.page-title
        Add a New User 

.grid_100.has-text-centered.is-margin-top-2
  %h2.is-4 ADD A NEW USER
  .dez-separator.bg-primary.style-liner
.container.has-txt-centered
  = render "form", user: @user
