.grid_100.is-border-top.is-border-bottom.is-marginless.admin_title_section.title_201
  .center.container
    %div.breadcrumb-box
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
          %li.breadcrumb-item
            Admin / Users      
          %li.breadcrumb-item.active{"aria-current" => "page"} 
    %div.title-box
      %h1.page-title
        User profile 


.grid_100.has-text-justified.is-margin-top-2
  .container
    %div.grid_subtitle.has-text-centered
      = @user.fullname
      %div.has-text-right
        = link_to "go back to list",'javascript:history.back()', class: "btn btn-outline-secondary btn-sm"
    %div.grid_100.is-3.has-text-centered
      = @user.email
