/ Slider Area
%section.slider
  .hero-slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-main.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                We Provide
                %span Natural Medical
                Services that You Can
                %span Trust!
              %p We offer treatment that is no side effect, not addictive, not Harmful or invasive!
              .button
                %a.btn{:href => "#"} Get Appointment
                %a.btn.primary{:href => "#"} Learn More
    / End Single Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-301.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                We can help Your
                %span Severe  Chronic
                %span Pain!
              %p We are specialized to treat the patients who have severe and chronic term pain.
              .button
                %a.btn{:href => "#"} Get Appointment
                %a.btn.primary{:href => "#"} About Us
    / Start End Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-303.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                We Provide
                %span Medical
                Services That You Can
                %span Trust!
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam.
              .button
                %a.btn{:href => "#"} Get Appointment
                %a.btn.primary{:href => "#"} Conatct Now
    / End Single Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-307.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                We Provide
                %span Medical
                Services That You Can
                %span Trust!
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam.
              .button
                %a.btn{:href => "#"} Get Appointment
                %a.btn.primary{:href => "#"} About Us
    / Start End Slider
/ / End Slider Area
/ Start Schedule Area
%section.schedule
  .container
    .schedule-inner
      .row
        .col-lg-4.col-md-6.col-12
          / single-schedule
          .single-schedule.first
            .inner
              .icon
                %i.fa.fa-ambulance
              .single-content
                %span SPECIAL
                %h4 Oncology Supportive Care
                %p We provide customized treatment by understanding the patient's history, immunity, treatment process, and nutritional status.
                %a{:href => "/sites/oncology?menu_values=206"}
                  LEARN MORE
                  %i.fa.fa-long-arrow-right
        .col-lg-4.col-md-6.col-12
          / single-schedule
          .single-schedule.middle
            .inner
              .icon
                %i.icofont-prescription
              .single-content
                %span SPECIAL
                %h4 Severe  Chronic Pain
                %p Our natural treatments can help people who have been suffering for a long time and have resorted to medication but still haven't recovered.
                %a{:href => "/sites/pain?menu_values=301"}
                  LEARN MORE
                  %i.fa.fa-long-arrow-right
        .col-lg-4.col-md-12.col-12
          / single-schedule
          .single-schedule.last
            .inner
              .icon
                %i.icofont-ui-clock
              .single-content
                %span SPECIAL
                %h4 Detox & Banalced Weight
                %p It is not too much to say that toxins in the body are the cause of all diseases. We provide a clean diet program along with toxin detoxification.
              %a{:href => "/sites/detox?menu_values=203"}
                LEARN MORE
                %i.fa.fa-long-arrow-right

= render partial: "/layouts/home_service_intro", formats: :html
= render partial: "/layouts/home_services", formats: :html
= render partial: "/layouts/home_testimonials", formats: :html
