/ Slider Area
%section.slider
  .hero-slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-main.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                Now 
                %span
                  Gladly 
                Accepting 
                %span
                  CalOptima 
              %p Now We are accepting major insurance (PPO)Plans, CalOptima Community Network and CalOptima Direct. Please contact us if you want to check your insurance benefits.
              .button
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
                %a.btn.primary{:href => "/sites/acupuncture?menu_values=201"} Learn More
    / End Single Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-301.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                %span We Are
                CalOptima
                %span Medical Provider 
              %p We specialize in treating severe and chronic pain.
              .button
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
                %a.btn.primary{:href => "/sites/meetus?menu_values=702"} Meet Us
    / Start End Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-303.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                %span 
                  Gladly Accepting 
                CalOptima
              %p.wt There are many good testimonies of overcoming mental suffering with us.
              .button
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
                %a.btn.primary{:href => "/sites/contact?menu_values=701"} Conatct Now
    / End Single Slider
    / Start Single Slider
    .single-slider{:style => "background-image:url('/assets/title-307.jpg')"}
      .container
        .row
          .col-lg-7
            .text
              %h1
                Women's 
                %span Natural Health  
                Clinic 
              %p.wt 
                The benefits of natural medicine can beautify a woman's body and mind.
              .button
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
                %a.btn.primary{:href => "/sites/womens-health?menu_values=307"} Learn More
    / Start End Slider
/ / End Slider Area
/ Start Schedule Area
%section.schedule
  .container
    .schedule-inner
      .row
        .col-lg-4.col-md-6.col-12
          / single-schedule
          .single-schedule.first
            .inner
              .icon
                %i.fa.fa-ambulance
              .single-content
                %span SPECIAL
                %h4 Oncology Supportive Care
                %p We provide customized treatment by understanding the patient's history, personal conditions, immunity, treatment process, and nutritional status.
                %a{:href => "/sites/natural-cancer-care?menu_values=206"}
                  LEARN MORE
                  %i.fa.fa-long-arrow-right
        .col-lg-4.col-md-6.col-12
          / single-schedule
          .single-schedule.middle
            .inner
              .icon
                %i.icofont-prescription
              .single-content
                %span SPECIAL
                %h4 Severe Chronic Pain
                %p 
                  For patients who have suffered from severe pain for a long time, our non-addictive and harmless natural treatments can be the best solution.
                %a{:href => "/sites/pain-management?menu_values=301"}
                  LEARN MORE
                  %i.fa.fa-long-arrow-right
        .col-lg-4.col-md-12.col-12
          / single-schedule
          .single-schedule.last
            .inner
              .icon
                %i.icofont-ui-clock
              .single-content
                %span SPECIAL
                %h4 Detox & Banalced Weight
                %p Toxins in the body can be a cause of many diseases and overweight. We provide individualized detox kits with a diet program for your optimal health.
              %a{:href => "/sites/detox-weight-manage?menu_values=203"}
                LEARN MORE
                %i.fa.fa-long-arrow-right

= render partial: "/layouts/home_service_intro", formats: :html
= render partial: "/layouts/home_insurance", formats: :html
= render partial: "/layouts/home_services", formats: :html
= render partial: "/layouts/home_who-we-are", formats: :html
