.women-ico-bg {
  background-color: #804f52;
}

.pain-ico-bg {
  background-color: #004a80;
}

.feature-block-4-img-container {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  margin: 0 auto;
  text-align: center;
}


.feature-block-style-4 {
  height: 60px;
  width: auto;
  position: relative;
  top: 25px;
}

