/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Acupuncture Working For Various Conditions 
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            Our acupuncture services have been proven effective by many patients over the years. We are highly specialized in treating many difficult diseases and symptoms of unknown cause.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-law
          %h4
            %a{:href => "service-details.html"} Balancing Acupuncture
          %p.text-justified Chronic or acute pain, sports injuries, digestive disorders, chronic fatigue, neurological disorders, skin problems, emotional disorders, diabetes, high blood pressure, menopausal syndrome, cancer, post-stroke, infertility, female issue, male dysfunction, allergies, osteoarthritis, rheumatoid arthritis, sleep Disorders, ADHD, Autism, dizziness, vertigo, numbness, respiratory disease, fibromyalgia, acne, psoriasis, edema, gout, unexplained disease.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-autism
          %h4
            %a{:href => "service-details.html"} Scalp Acupuncture
          %p.text-justified Balance disorders, Speach disorders, Movement disorders, Parkinson's disease Migraine disorders, Visual disorders, Alzheimer's disease, Post stroke, Paralysis, Sensory disorders Trigeminal neuralgia, Emotional disorders, ADHD, Autism spectrum disorders
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-girl-alt
          %h4
            %a{:href => "service-details.html"} Facial Acupuncture
          %p
            Facial pain, Facial paralysis, Facial lifting, Facial skin care, Acne care, Wrinkled skin, Scarred skin, Neurology, Emotional disorder, Sensory disorder, TMJ, Sinusitis, Visual Disorder, Trigeminal neuralgia, Numbness of the face, Post-stroke, BELL'S Palsy
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-listening
          %h4
            %a{:href => "service-details.html"} Ear Acupuncture
          %p
            Hormone inbalance, Pain, PMS, Weight Loss, Addictions, Sleep Disorder, Emotional Disorder
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-lightning-ray
          %h4
            %a{:href => "service-details.html"} Electro Acupuncture
          %p
            Sever Pain, Chronic Pain, Sciatica, Musculoskeletal Disease, Sport injury, Neuralgia, Various neurological disorders
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-baby
          %h4
            %a{:href => "service-details.html"} Pediatric Acupuncture
          %p 
            For children and those who are afraid of needles, we use pressure needles, ear seeds or minimum size needles. 
/ / End service
= render partial: "/layouts/slider_acu"

