.grid_100.is-margin-top-2
  .container.has-text-centered
    .row
      .grid-2.has-text-centered
        .grid
          .widgets_div
            .icon_div
              %h3.is-3.txt_dgreen
                %i.fa-solid.fa-location-dot
            .text_div
              %h3.is-4
                %span 520 N Brookhurst Suit 204 Anaheim, CA 92801
        .mycard-b.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}gmap-520N.jpg"}
          %br
        .mycard-b.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}520-building.jpg"}

      .grid-2
        .grid
          .widgets_div
            .icon_div
              %h3.is-3.txt_dgreen
                %i.fa.fa-clock
            .text_div
              %h3.is-4
                %span Business Hours
        .mycard.is-margin-top-2
          %h3.is-5
            %br
            %br
            Monday ~ Friday
            %br
            %br
            9:30 AM ~ 6:00 PM
            %br
            %br
            .dez-separator.style-liner 
            %br
            %br
            Saturday
            %br
            %br
            9:30 AM ~ 4:00 PM
            %br
            %br
            %br
            %br
    
