.grid_100.is-margin-top-2
  .container.has-text-centered
    .row
      .grid-2.has-text-centered
        .grid
          %img.float-left.ico-w-text{:src => "#{ENV['IMG_PATH']}ico-map-green.jpg"}
          %h3.is-4
            520 N Brookhurst Suit 204 Anaheim, CA 92801
        .mycard-b.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}gmap-520N.jpg"}
          %br
        .mycard-b.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}520-building.jpg"}

      .grid-2
        .grid
          %h3.is-4
            Business Hours
        .mycard.is-margin-top-2
          %h3.is-5
            %br
            %br
            Monday ~ Friday
            %br
            %br
            9:30 AM ~ 6:00 PM
            %br
            %br
            .dez-separator.style-liner 
            %br
            %br
            Saturday
            %br
            %br
            9:30 AM ~ 4:00 PM
            %br
            %br
            %br
            %br
    
