.grid_100.is-margin-top-2
  .container.has-text-centered
    .row
      .grid-2.has-text-centered
        %h3.is-4
          520 N Brookhurst Suit 204 Anaheim, CA 92801
        .mycard.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}gmap-520N.jpg"}
          %br
        .mycard.is-margin-top-2
          %img.img8{:src => "#{ENV['IMG_PATH']}520-building.jpg"}

      .grid-2.has-text-center
        %h3.is-4
          Business Hours
        .mycard.is-margin-top-2
          %h3.is-5
            %br
            %br
            Monday ~ Friday
            %br
            9:30 AM ~ 6PM
            %br
            %br
            %br
            Saturday
            %br
            9:30 AM ~ 4PM
            %br
            %br
            %br
            %br
            %br
            %br
    
