/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Nature Is The Best Gift For Our Children.
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            For children who are not yet fully developed, foods and drugs that are not natural are harmful. Give our children the best.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-atom
          %h4
            %a{:href => "service-details.html"} IMMUNE SUPPORT
          %p
            Frequent sickness, Allergies, Cold, Flues, Respiratory diseases...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-baby-cloth
          %h4
            %a{:href => "service-details.html"} SLOW GROWTH
          %p Cognitive Delay, Mortor Delay, Small height, Night wet...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dashboard
          %h4
            %a{:href => "service-details.html"} WEIGHT MANAGEMENT
          %p
            Over or under Weight, Childhood Obesity, Children Diabetes,
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-brain
          %h4
            %a{:href => "service-details.html"} MENTAL HEALTH
          %p ADHD, Autism, OCD, PTSD..
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-rage
          %h4
            %a{:href => "service-details.html"} EMOTIONAL DISORDERS
          %p Depression, Anger, Insomnia, Antisocial Personality Disorder, OCD...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-cat-face
          %h4
            %a{:href => "service-details.html"} SKIN CONDITIONS
          %p Atopic dermatitis(eczema), Dry, Itchy skin, Acne, Psoriasis...
/ / End service
 
