/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Individualized Detox Program
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            Our detox programs are differentiated according to the individual's condition. From general detoxification to viral detoxification, there are detoxification for chemotherapy and diabetic patients.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-pollution
          %h4
            %a{:href => "service-details.html"} Toxin Can Contribute to:
          %p • Fatigue or difficulty sleeping
          %p • Indigestion and other GI issues
          %p • Food cravings
          %p • Weight gain or weight loss
          %p • Reduced mental clarity
          %p • Low libido
          %p • Skin issues
          %p • Joint discomfort
          %p • Other inflammatory diseases
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-history
          %h4
            %a{:href => "service-details.html"} Our Unique Detox Program
          %p It is time to RESET Your Body. Our detox programs can be tailored to your body type, condition, environment and medical history. Comes with acupuncture, detox juice, massage and diet. This opens the way for accumulated toxins to be smoothly excreted through metabolism. It reduces inflammation, provides nutrients, contributes to a balanced weight and more.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-patient-file
          %h4
            %a{:href => "service-details.html"} What's Your Toxicity Level?
          %p Visit us and take our toxicity questionaire to evaluate your toxin-expousure levels. The Toxicity Questionnaire is designed to aid the practitioner in assessing a patient’s or client’s potential need for a metabolic detoxification program.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-laboratory
          %h4
            %a{:href => "service-details.html"} Toxic and Essetional Element Test
          %p Upon your request, we will send you to the laboratory for toxic and essential element test. The tests are below.
          %p • HAIR ELEMENTS
          %p • URINE ESSENTIAL ELEMENTS
          %p • STOOL TOXIC METALS
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-spoon-and-fork
          %h4
            %a{:href => "service-details.html"} Anti-Inflamatory Diet
          %p 
            THE WHOLE OF IT.
            Our meal plan is all about eating right. Focus on fueling your body with nutrient-rich. foods and maintaining a well-balanced diet. Eat whole, unprocessed foods that are void of additives and unhealthy fats. And, when possible, select organic options.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-wheat
          %h4
            %a{:href => "service-details.html"} High-Quality  Whole Food-Based
          %p 
            There’s a holistic synergy to everything we do. Our brands include a comprehensive offering of high-quality products that collectively support your entire family on the journey to optimal health.

