.container.is-margin-top-2
  .row
    .grid-3-2.pad-rt
      %h3.is-5.bold
        Toxins are everywhere. 
        %br
        %br
      %h3.is-5.has-text-justified
        You are exposed to toxins every single day. In fact, your body produces its own toxins, or waste known as endogenous toxins, simply by functioning. Your body also encounters external (exogenous) toxins, or chemicals made outside of your body. They are in the air you breathe, the food you eat, the water you drink, and the products you touch.1,2 Exposure to these toxins can overburden your system’s natural ability to detoxify.
        %br
        %br
      %img.img8{:src => "#{ENV['IMG_PATH']}toxin-diagram.jpg"}

    .grid-3.mycard-b
      %h3.is-5.has-text-justified.bold
        Toxins can contribute to: 
        %br
        %br
      %h3.is-6
        • Fatigue or difficulty sleeping 
        %br
        • Indigestion and other GI issues 
        %br
        • Food cravings 
        %br
        • Weight gain or weight loss
        %br
        • Reduced mental clarity 
        %br
        • Low libido 
        %br
        • Skin issues 
        %br
        • Joint discomfort
        %br
        • Other inflammatory diseases

        %br
        %br
      %h3.is-5.bold
        Indications that Toxin is present 
        %br
        %br
      %h3.is-6.has-text-justified
        %u
          Not limited to:
          %br
        hair loss, skin trouble, depression, insomnia, indigestion, obesity, fatigue, dark circles, diabetes, pain, numbness, constipation, menstrual irregularity, menopausal disorder, irritable bowel syndrome, allergies, frequent infectious diseases, chronic pain, gum disease, diabetes, cancer
        %br
        %br
        %u
          Emotional Toxin 
        %br
        Above all, it is important to solve the toxins in the mind.
        Forgiveness, gratitude, and love are important in the relationship between myself and myself, but also in the relationship with others.
        Hatred, unforgiveness, and anger are not only harmful to your mental health, they also affect your body.

  .dez-separator.style-liner 
.container  
  .grid_subtitle
    %font.txt_dgreen 
      Our Unique Six Weeks Detox & Balance Program
.container.has-text-centered.mycard  
  %h3.is-5.has-text-justified
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK  1
    Get to know where you are at
    %br
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK 2
    Colon cleansing, Acupuncture, Set up your own diet plan
    %br
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK 3
    Begin your detox kit, Acupuncture Treatment
    %br
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK 4
    Continue your detox kit, Acupuncture Treatmentr, Cupping Therapy
    %br
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK 5
    Continue your detox kit, cupuncture Treatmen, Massage Therapy
    %br
    %span.sq-ico-container.green-ico-bg.mag-rt
      %span WEEK 6
    Finish your detox kit. Wrap it up and set up your next plan.
    %br


.container.is-margin-top-2.has-text-centered
  .dez-separator.style-liner 
  .grid_subtitle
    %font.txt_dgreen 
      Toxic and Essetional Element Test

.container
  .row
    .grid-3.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-hair.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Hair Elements
        %p.is-6
          Hair Elements analysis provides information regarding recent and ongoing exposure...

    .grid-3.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-urine.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Urine Essential Elements
        %p.is-6
          Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-3.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-stool.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Stool Toxic Metals
        %p.is-6
          Fecal elemental analysis provides a direct indication of dietary exposure to...
 

