/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            It is not too much to say that all problems start in the gut
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            The digestive system is not only responsible for the body's nutrient supply and immunity, but also has a profound effect on all organs of the body directly and indirectly, as well as the body's metabolic, hormonal, endocrine functions, and emotions. 
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-ember
          %h4
            %a{:href => "#"} GERD
          %p
            Heartburn, Regurgitation (food comes back into your mouth from the esophagus),
            The feeling of food caught in your throat,
            Coughing,
            Chest pain,
            Problem swallowing,
            Vomiting,
            Sore throat and hoarseness.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-fast-food
          %h4
            %a{:href => "service-details.html"} IBS/IBD
          %p Pain in your Abdomen, Diarrhea, constipation, or both, Bloating, Indigestion,Diverticulitis, Colitis, Gastritis
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-confounded
          %h4
            %a{:href => "service-details.html"} NAUSEA VOMITING
          %p Food allergies, Infections of the stomach or bowels, stomach flu, Nausea with feeling of disorientation...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dashboard
          %h4
            %a{:href => "service-details.html"} WEIGHT GAIN OR LOSS
          %p Sudden weight gain or loss, excess hunger, anorexcia, water retention, moon face...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-crying
          %h4
            %a{:href => "service-details.html"} ABDOMINAL PAIN
          %p
            Indigestion,
            Gas and gas pain,
            Constipation,
            Diarrhea, Chronic Fatigue,
            Food allergies and intolerances,
            Food poisoning...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dna-alt-1
          %h4
            %a{:href => "service-details.html"} AUTOIMMUNE GI DISORDERS
          %p Celiac disease, Inflammatory bowel disease, Constant Abdominal Pain, Diarrhea or Constipation...

= render partial: "/layouts/testimony-img-Jose"
/ / End service

