.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.is-5
      Mental health isn't just about brain problems. Our body and mind are connected.
      If you are not only struggling with mental health but also suffering from various side effects of Western medicine, please visit us. 
      %br Our holistic natural healing method makes your body and mind healthy.
      %br
    .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-depression.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Depression
        %p.is-6
          Postnatal depression, Depression, Loneliness

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-insomnia.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Sleep Disorders 
        %p.is-6
          Insomnia, Nightmares and night terrors, Restless Legs Syndrom, Restless sleep..

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-anger.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Anger • Anxiety • Fear
        %p.is-6
          Irritability, Anger, Panic attacks, PTSD...

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-addiction.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Addictions
        %p.is-6
          Alcohol addiction,
          Prescription drug addiction,
          Drug addiction,
          Heroin addiction,
          Opioid addiction
      
