.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Anger, Anxiety and panic attacks,  Bipolar disorder, Depression, Dissociation and dissociative disorders, Eating problems, Insomnia, Hypomania and mania, Loneliness, Obsessive-compulsive disorder (OCD), Panic attacks, Paranoia,  Personality disorders, Phobias, Postnatal depression & perinatal mental health, Post-traumatic stress disorder (PTSD), Addiction, Seasonal affective disorder (SAD), Sleep Problem, Stress, Suicidal feelings
      %br
    .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-depression.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Depression
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-insomnia.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Sleep Disorders 
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-anger.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Anger.Anxiety.Fear
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.emotion-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mood-addiction.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Addictions
        %p.is-6
      
