/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            A Sound Mind in A Healthy Body
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            Our body and mind are connected.
            If you're struggling with your mental health, and you've tried a lot and nothing worked, here we are.
            %br Our holistic natural treatments can make your body and mind healthy.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-sad
          %h4
            %a{:href => "#"} DEPRESSION• ANXIETY
          %p PMS, Menopause Depression and irritablilty,Postpartum depression, PTSD Depression, Constant feeling sad or down, Significant tiredness, Suicidal thinking...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-rage
          %h4
            %a{:href => "#"} ANGER• FEAR
          %p Panic attact, Phobia, Puberty anger, hostility or violence, Excessive fears or worries, or extreme feelings of guilt...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-eye-open
          %h4
            %a{:href => "#"} SLEEP DISORDER
          %p Hard to fall asleep, Wake up freqently, Dream disturbed sleep, Light sleep, Unfreshness in the morning, Suicidal thinking...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-crying
          %h4
            %a{:href => "#"} PTSD
          %p Panicking when reminded of the trauma, Extreme alertness in emotions and activities, Disturbed sleep or a lack of sleep, Irritability or aggressive behaviour, Finding it hard to concentrate, Avoiding feelings or memories, dissociative feelings...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-drug
          %h4
            %a{:href => "#"} ADDICTIONS
          %p
            Alcohol addiction,
            Prescription drug addiction,
            Drug addiction,
            Heroin addiction,
            Opioid addiction, Food addiction...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-rolling-eyes
          %h4
            %a{:href => "#"} BIPOLAR DISORDER
          %p Extreme mood swing, Alternate quiclky from excess joy and depression, Feeling of excess energy and extrem low, low self-esteem and suicidal thoughts...
/ / End service
 
