/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Natural Care 
            %br For Various Facial Conditions 
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            We specialize in treating various facial conditions such as facial pain, numbness, paralysis, and skin disorders.
          %br   
    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-robot-face
          %h4
            %a{:href => "service-details.html"} Facial Acupuncture
          %p While cosmetic acupuncture focuses on skin improvement and facial beauty, facial acupuncture focuses on facial numbness and pain relief. These two may be similar, but the difference is that acupuncture focuses on the muscles and nerves where there is pain or paralysis.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-cat-face
          %h4
            %a{:href => "service-details.html"} Cosmetic Acupuncture
          %p
            Cosmetic acupuncture reduces the size of facial muscles that have grown due to bad habits, and relaxes the muscles that cause wrinkles on the skin to improve fine wrinkles and create a smooth impression.
            
            The efficacy of facial beauty acupuncture is a representative natural treatment that has been scientifically proven.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-medal-sport
          %h4
            %a{:href => "service-details.html"} Benefits
          %p
            Wrinkle relief,
            Facial lifting,
            Scar removals,
            Reduces facial swelling,
            Improve the skin condition,
            Enhance skin elasticity, Facial Pain,
            Narrowing of enlarged pores,
            Facial blood and lympatic circulation,
            Facial paralysis, Neurological disorder, Sensory disorder, TMJ, Sinusitis, Visual Disorder, Trigeminal neuralgia, BELL'S Palsy
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-ticket
          %h4
            %a{:href => "service-details.html"} Scraping(Guasha) Therapy
          %p
            Facial Scraping Therapy(Gua sha) has been proven to help relieve tension in the face, reduce puffiness and inflammation, and it can even help reduce sinus pressure.
            Lymphatic Drainage
            Deals with Cystic acne
            Fights acne scars
            Reduces Puffiness
            Say goodbye to dark circles and dull complexion
            Softens Wrinkles and Fine Lines
            Contours  Sculpts Jawline and Cheekbones
            Helps facial pain
            Helps facial numbness
            Relieve migrain
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-herbal
          %h4
            %a{:href => "service-details.html"} Herbal Facial Massages
          %p Massage creams made from our natural ingredients are selectively applied according to individual skin types. It has no side effects, has a whitening effect, relieves inflammation of the facial skin, reduces pores and brightens the skin tone. If you have skin problems, it is prescribed along with oral medications or detax programs.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-magic
          %h4
            %a{:href => "service-details.html"} High Frequency Therapy
          %p
            It provides the skin boosting anti-aging benefits of Neon and blemish and inflammation. It works synergistically to offer the complete spectrum of skin therapies; creating beautiful radiant skin while shortening treatment duration.
            
            High frequency treatments are a safe and 100% natural way of boosting your entire skin profile no matter your skin type. It also kills any sub-dermal causes of inflammation to control blemishes and ensure a smoother complexion 90% faster.
/ / End service
 
= render partial: "/layouts/slider_facialcare"
