.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4.has-text-centered
      Thank you for visiting our clinic to help you.
      <br>We also want to thank everyone who gave us permission to share their experiences.
    %br
    %br
    %h2.title.is-4.has-text-justified
      
.container.text-center.is-margin-top-2
  .row
    .col
      .grid_90
        .card
          %img.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}gallery/1.jpg"}
            %h2.title.is-5 Kathy K
            %p.small
              Recovered from eczema & persistant unexplained diarrhea
    
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/2.jpg"}
            %h2.title.is-5 with Jade 
            %p.small
              waiting for Mom, Ruby to finish her treatment, She recovered from postparturm depression.
 
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/3.jpg"}
            %h2.title.is-5 A quick shot 
    
  .row
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img.img-b1{:alt => "service", :src => "/assets/gallery/4.jpg"}
            %h2.title.is-5 Time with the patients
 
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img.img-b1{:alt => "service", :src => "/assets/gallery/5.jpg"}
            %h2.title.is-5 Time with the patients
 
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/6.jpg"}
            %h2.title.is-5 Kimberly B 
            %p.small Recovered from postpartum rheumatoid arthritis
 
  .row
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/7.jpg"}
            %h2.title.is-5 Samantha P
            %p.small Recovered from depression and recurrent miscarriage
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/8.jpg"}
            %h2.title.is-5 Matt E
            %p.small Visiting our clinic.
    .col
      .grid_90
        .card.text-bg-dark
          %img.card-img{:alt => "service", :src => "/assets/gallery/9.jpg"}
            %h2.title.is-5 
            %p.small Ongoing treatments for her back & knee pain.
       
