.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4.has-text-centered
      Thank you for visiting our clinic to help you.
      <br>We also want to thank everyone who gave us permission to share their experiences.
    %br
    %br
    %h2.title.is-4.has-text-justified
.container.text-center.is-margin-top-1
  = render partial: "/layouts/galleries" ,:galleries=> @galleries

