.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      GERD, IBS, Gastritis, SIBO, Celiac Disease, Crohn's Disease, Ulcerative Colitis, Colitis, Chronic Diarrhea, Dysentery, Severe Fecal Impaction, Constipation, Stomach & Abdominal Pain, Hemorrhoids, Bloody Stools, Hernia, Chronic Indigestion, Gastroparesis, Bloating, Nausea and vomiting, Swallowing problems, Weight gain or loss
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br
  .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-gerd.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          GERD
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-stomach.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Bloating, Indigestion
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-colon1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          IBS
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-scale.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Weight gain or Loss 
        %p.is-6


