/ Start service
%section#team.team.section{"data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-lg-12
        .section-title
          %h2 We Offer Affordable Lab Tests For You and Your Family
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p No health insurance required.
    .row
      .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
        / Single Team
        .single-team
          .t-head
            %img{:alt => "general health test", :src => "/assets/test-general.jpg"}/
            .t-icon
              %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
          .t-bottom
            %p blood panel
            %h2
              %a{:href => "#"} General Healt Test
        / End Single Team
      .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
        / Single Team
        .single-team
          .t-head
            %img{:alt => "Allergy Test", :src => "/assets/test-allergy.jpg"}/
            .t-icon
              %a.btn{:href => "/sites/appointments?menu_values=600appointment.html"} Get Appointment
          .t-bottom
            %p Neurosurgeon
            %h2
              %a{:href => "#"} Allergy Test
        / End Single Team
      .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
        / Single Team
        .single-team
          .t-head
            %img{:alt => "hormon test", :src => "/assets/test-hormon.jpg"}/
            .t-icon
              %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
          .t-bottom
            %p Neurosurgeon
            %h2
              %a{:href => "#"} Hormon Test
        / End Single Team
      .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
        / Single Team
        .single-team
          .t-head
            %img{:alt => "Autoimmune test", :src => "/assets/test-autoimmune.jpg"}/
            .t-icon
              %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
          .t-bottom
            %p Neurosurgeon
            %h2
              %a{:href => "#"} Autoimmune Test
        / End Single Team
      .row
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "#", :src => "/assets/test-toxic-metal.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Toxic Metal Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Vitamin Mineral Test", :src => "/assets/test-vm.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Vitamin Mineral Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Digestive System Test", :src => "/assets/test-digestion.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Digestion Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Generic Test", :src => "/assets/test-generic.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Generic Test
          / End Single Team


      .row
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Heart & Cardiovascular Test", :src => "/assets/test-heart.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Heart & Cardiovascular Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Vitamin Mineral Test", :src => "/assets/test-cognitive.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Cognitive Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Stress Test", :src => "/assets/test-stress.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Stress Test
          / End Single Team
        .col-lg-3.col-md-6.col-12{"data-tilt" => ""}
          / Single Team
          .single-team
            .t-head
              %img{:alt => "Weight Test", :src => "/assets/test-weight.jpg"}/
              .t-icon
                %a.btn{:href => "/sites/appointments?menu_values=600"} Get Appointment
            .t-bottom
              %p Neurosurgeon
              %h2
                %a{:href => "#"} Weight Test
          / End Single Team
/ / End service

