.grid_100.has-text-justified.is-margin-top-2
.container.has-text-justified
  %h3.is-5
    At the request of the patient, Life & Nature conducts laboratory tests for those who want to accurately understand their condition and help with future treatment.
  %br
  %br
  %h2.title.is-4.has-text-justified

  .dez-separator.bg-primary.style-liner
.container.has-text-justified
  .row
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/GastroIcon.png"}/
      %h3.is-6
        Breakthrough Assessment of Bacteria, Yeast, Parasites and Biochemical Markers
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/ToxicIcon.png"}/
      %h3.is-6
        Assessment of Key Minerals and Harmful Metals
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/NutriIcon.png"}/
      %h3.is-6
        Insight into a Wide Range of Symptoms and Conditions

  .row    
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/EnviroIcon.png"}/
      %h3.is-6
        Gauge the Body's Ability to Eliminate Toxins
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/CardioIcon.png"}/
      %h3.is-6
        Comprehensive Profiles for Reducing Risk
    .grid-3
      %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/EndoIcon.png"}/
      %h3.is-6
        Comprehensive Assessment of Neuroendocrine Status

