/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Various Holistic Therapies For The Body
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            It relaxes the body, helps blood circulation, relieves pain and boosts immunity.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-operation-theater
          %h4
            %a{:href => "service-details.html"} Cupping Therapy
          %p Chronic or acute pain, sports injuries, digestive disorders, skin problems, emotional disorders, diabetes, high blood pressure, menopausal syndrome, fibromyalgia, muscle sprains, strains, and spasms, Anxiety, Poor Circulation
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-stretcher
          %h4
            %a{:href => "service-details.html"} theraupeutic Massage Bed
          %p Provide all-in-one benefits of acupressure, deep-tissue massage, stretching, stone therapy, and heat therapy.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-heartbeat
          %h4
            %a{:href => "service-details.html"} EMS  TENS
          %p Stimulates the nerves to relieve pain and stimulates muscles to strengthen and rehabilitate them.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-download-alt
          %h4
            %a{:href => "service-details.html"} Acupressusre
          %p Acupressure therapy stimulates the body's circulatory, lymphatic and hormonal systems. It helps relieve stress and anxiety, improves sleep, relaxes your muscles and joints, regulates digestive issues, minimises headaches and migraines, and is also beneficial for back pains and menstrual cramps.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-penalty-card
          %h4
            %a{:href => "service-details.html"} Scraping Massage
          %p Relieve muscle tension, boost blood circulation, and promote lymphatic drainage. It also enhances the delivery of fresh oxygen and nutrients to various tissues throughout the body, which means a healthier glow for the skin.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-bandage
          %h4
            %a{:href => "service-details.html"} Sports Tape
          %p Taping enables weak muscles to function efficiently, reduces pain and fatigue, and protects against cramping, over-extension, and over-contraction. Improved Athletic Performance: By supporting unstable joints and delivering slight pressure to “sleeping” muscles, taping can prompt higher performance.
// End service

= render partial: "/layouts/slider_therapy"

