/ Start About Area
%section.about-area.section
  .container-fluid.p-0
    .row.m-0
      .col-lg-6.col-md-12.p-2
        %img{:src => "/assets/mepic2.jpg"}
      .col-lg-6.col-md-12
        .about-content
          %h2 Short Story About
          %br
          %h3 Soo Jin Cho LAc.
          %p
            %li 
              Master of Science in Acupuncture and Herbal Medicine
            %li 
              Member of National Acupuncture and Oriental Medicine Certification Committee
            %li 
              California Board Licensed Acupuncturist
            
          %ul
            %li
              %i.icofont-tick-mark
              Many years of experience as a software engineer
            %li
              %i.icofont-tick-mark
              Have suffered from a chronic disease for a long time
            %li
              %i.icofont-tick-mark
              Disabled for 3 years with unknown disease
            %li
              %i.icofont-tick-mark
              Self-Healer and healing others
            %li
              %i.icofont-tick-mark
              Licensed acupuncturist and herbalist
            %li
              %i.icofont-tick-mark
              Practice the functional medicine
            %li
              %i.icofont-tick-mark
              Loves and trusts natural medicine.

            %li
              %i.icofont-tick-mark
              Pursuit of culinary medicine 
            
            %li
              %i.icofont-tick-mark
              Approachable, approaching and open-minded person

            %li
              %i.icofont-tick-mark
              Obsessed with nutrition therapy

            %li
              %i.icofont-tick-mark
              Obsessed with organic foods



 
