/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Natural Medicine for Men's Optimal Health
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            The benefits of natural medicine can strengthen a men's body and mind.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-confounded
          %h4
            %a{:href => "service-details.html"} EMOTIONAL DISORDERS
          %p Irritability, Anger, Panic attacks, PTSD, Depression, Insomnia, Stress and more
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dashboard
          %h4
            %a{:href => "service-details.html"} DETOX  BALANCED WEIGHT
          %p Over or Under Weight, Fatigue, GI Issues, Pain, Frequent Sickness and more
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-atom
          %h4
            %a{:href => "service-details.html"} ONCOLOGY SUPPORTIVE CARE
          %p Non-melanoma skin cancer, Prostate cancer, Liver Cancer, Colon Cancer, Lung Cancer and more
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-law-alt-3
          %h4
            %a{:href => "#"} HORMONE BALACE
          %p
            Male Function, Acne, Prostate dysfunction, Low libido and more
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-muscle
          %h4
            %a{:href => "#"} MUSCULOSKELETAL CONDITIONS
          %p Sports Injuries, Fall Injuries, Back pain, Neck Pain, TMJ, Plantar fasciitis, Shoulder pain and more
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-water-drop
          %h4
            %a{:href => "#"} DIABETIC SUPPORTIVE CARE
          %p Over or under weight, Hypoglycemia and hyperglycemia, Excess hunger or Poor appetite, Neuropathy and more
/ / End service
 
