/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Natural Medicine for Men's Optimal Health
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            The benefits of natural medicine can strengthen a men's body and mind.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-law
          %h4
            %a{:href => "service-details.html"} EMOTIONAL DISORDERS
          %p Irritability, Anger, Panic attacks, PTSD, Depression, Insomnia, Stress...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-autism
          %h4
            %a{:href => "service-details.html"} DETOX  BALANCED WEIGHT
          %p Over or Under Weight, Fatigue, GI Issues, Pain, Frequent Sickness and more...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-girl-alt
          %h4
            %a{:href => "service-details.html"} ONCOLOGY SUPPORTIVE CARE
          %p Non-melanoma skin cancer, Prostate cancer, Liver Cancer, Colon Cancer, Lung Cancer...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-listening
          %h4
            %a{:href => "service-details.html"} HORMON BALACE
          %p
            Erectile dysfunction,
            Premature ejaculation, Delayed or inhibited ejaculation, Acne...
            Low libido
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-lightning-ray
          %h4
            %a{:href => "#"} MUSCULOSKELETAL CONDITIONS
          %p Sports Injuries, Fall Injuries, Back pain, Neck Pain, TMJ, Plantar fasciitis, Shoulder pain...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-baby
          %h4
            %a{:href => "#"} DIABETIC SUPPORTIVE CARE
          %p Over or under weight, Hypoglycemia and hyperglycemia, Excess hunger or poor appetite, Neuropathy...
/ / End service
 
