/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Oncology Supportive Care 
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            We can help patients suffering from cancer, the side effects of radiation treatment and chemotherapy, and recover after surgery, and increase the survival rate by strengthening the natural immunity.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-connection
          %h4
            %a{:href => "service-details.html"} Natural Immunotherapy
          %p
            Natural immunotherapy, which is being practiced by Life Nature, can be expected to have a more positive prognosis in terms of treatment results when used in combination with standard treatment. 
            %br Our treatment not only relieves various side effects and sequelae that can occur during chemotherapy and radiation treatment, but also increases the efficiency of treatment by restoring the immune system and basic physical strength of cancer patients.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-autism
          %h4
            %a{:href => "service-details.html"} Acupuncture Treatments
          %p 
            Relieve cancer pain, minimization of side effects from chemotherapy and radiation treatment, recovery of digestive function to increase physical strength, relief of neuropathic symptoms, rapid recovery after surgery, detoxification of toxins caused by cancer and chemotherapy and radiation treatment
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-herbal
          %h4
            %a{:href => "service-details.html"} Prescribed Herbal Medicine
          %p
            Do you know that many Asian countries, such as China and Korea, have already adopted oriental medicine as an anti-cancer treatment and have been prescribing it to cancer patients for a long time? These personalized herbal medicines provide nutrients to the body during traditional chemotherapy, allowing it to withstand treatment and providing energy to fight cancer.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-medicine
          %h4
            %a{:href => "service-details.html"} Nutritional Supports
          %p A lot of research shows that essential nutrients play a big role in preventing and even treating cancer. Here are the nutrition experts with years of experience. We can give you the nutrients you need while fighting cancer.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-spoon-and-fork
          %h4
            %a{:href => "service-details.html"} Meal Plan
          %p Not sure what to eat while you are fighting cancer? Can I continue eating the fast food, canned and frozen food I've been eating? Among the overflowing information about food, what do I really need? On this new journey, you need a guidance from experts.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-history
          %h4
            %a{:href => "service-details.html"} Detox Program
          %p Our detox programs can be personalized to your body type, condition, environment and medical history. It opens the way for accumulated toxins before and after conventional anti-cancer therapy to be smoothly excreted through metabolism. It helps you to recover your body and it's own functions
/ / End service

= render partial: "/layouts/testimony-yt-steveu"
