.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.is-5
      Post Stroke, Migrain, Alzheimer's disease, Bell's palsy, Cerebral palsy, Epilepsy, Motor neurone disease (MND), Multiple sclerosis (MS), Neurofibromatosis, Parkinson's disease, Abnormal sensation of any body part, Headache, Migrain, Meniere's disease, Lou Gehrig's Disease (ALS)  disease, Fibromyalgia, Chronic Fatigue, Guillain-Barré syndrome, Tinnitus, Unexplained numbness, tingling sensation and shaking, Vertigo.  
      %br
      %br
      
