/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Pioneer Of Neurological Natural Treatment
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            We have long experiences and good testimonies from patients with various neurological disorders.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dna-alt-1
          %h4
            %a{:href => "#"} DISAUTONOMIA
          %p
            Abnormally fast or slow heart rate, Anxiety, Excessive sweating or not being able to sweat,
            Feeling short of breath (especially when you exercise),
            Feeling thirsty all the time, Chronic Fatigue,
            Having trouble swallowing,
            Headaches.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-brain-alt
          %h4
            %a{:href => "#"} BRAIN DISORDERS
          %p Balance disorders, Speach disorders, Movement disorders, Parkinson's disease Migraine disorders, Visual disordersAlzheimer's disease, Sensory disorders, Trigeminal neuralgia, Emotional disorders, ALS • MS, LUPUS
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-brain
          %h4
            %a{:href => "#"} NEUROPATHY
          %p Diabetic neuropathy, Sjogren's syndrome, lupus, rheumatoid arthritis, Guillain-Barre syndrome, chronic inflammatory demyelinating polyneuropathy and vasculitis.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-crutch
          %h4
            %a{:href => "#"} POST-STROKE
          %p Weakness, paralysis, and trouble with balance or coordination, pain, numbness, or burning and tingling feelings. fatigue
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-autism
          %h4
            %a{:href => "service-details.html"} Headache
          %p tension type headache, cluster headache, chronic daily headache, medication overuse headache, cervicogenic ("neck-related") headache, and post-traumatic headache.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-kid
          %h4
            %a{:href => "#"} PEDIATRIC DISORDERS
          %p ADHD, Autism, PTSD, Epilepsy  Seizures, Learning disability and more.
  / / End service
  
