.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.title.is-4.has-text-justified
      Natural Immunotherapy
      %br
      %br
    %h3.is-5.has-text-justified
      %p Natural Immunotherapy, which is being implemented by Life and Nature, can also be expected to have a more positive prognosis in terms of treatment results if combined with standard treatment.
      %br

      %img.img9.float-left{:src => "#{ENV['IMG_PATH']}cancer1.jpg"}
      %p However, there are still many cases where many cancer patients are anxious about proceeding with additional alternative medicine in the process of standard treatment. 
      %br
       
      %p  
        To tell you the truth about this, when standard treatment is performed alone, of course, it can be effective in killing cancer cells and tumors, but it is not possible to deal with damage to normal cells caused by highly toxic anticancer drugs. There is a huge downside to not having it.
         
      %p     
        Certainly, anticancer drugs are drugs that are used to reduce or kill residual cancer cells before and after surgery, so they have strong toxicity. In the process of attacking cancer cells using these anticancer drugs, damage to normal cells cannot be ignored either.
           
      %br
      %p      
        Because of this, many people undergoing chemotherapy suffer from the collapse of the immune system and a decrease in energy, and experience various side effects and sequelae.
      %br

.container
  .row
    .grid-2.pad-rt
      %h3.title.is-4
        %p Correlation between immunity and cancer treatment
        %br

      %h3.is-5.has-text-justified
        %p        
          At this time, it is possible to solve the overall problems that appear during chemotherapy through immunotherapy implemented by Life and Nature.
          Our oncology supportive care treatment not only alleviates various side effects and post-effects that can occur during chemotherapy and radiation treatment, but also increases the efficiency of treatment through the treatments that focuse on the recovery of immune system and basic physical strength of cancer patients.
        %br

    .grid-2
      .mycard
        .grid_90
          %h3.title.is-5.text-blue
            &#9776; &nbsp; Related Articles
          = render partial: "/pt_resources/article" 
          %h3.is-6.has-text-justified.revew-text
            %li 
              %a{:href => "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2642987/", target: "_new"}
              The Value of Acupuncture in Cancer Care
            %li 
              %a{:href => "https://www.cancer.gov/about-cancer/treatment/cam/patient/acupuncture-pdq", target: "_new"}
                Alternative medicine for cancer patients
            %li 
              %a{:href => "https://magazine.nursing.jhu.edu/2020/04/healing-path/", target: "_new"}
                Acupressure and the Ear: A Healing Path
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
  .dez-separator.style-liner
  = render partial: "/layouts/review" 

