/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Best For Severe And Chronic Pain
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            We pursue not only relieve your pain, but also find and treat the root cause.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-car-alt-1
          %h4
            %a{:href => "#"} PERSIONAL INJURIES
          %p Auto Accidents, Falls, Work Injures, Sports Injuries...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-muscle
          %h4
            %a{:href => "#"} MUSCULOSKELETAL PAIN
          %p Back pain, Frozen Shoulder, Sciatica, Neck pain, Pain on the joints, Tennis Elbow, Golf Elbow, TMJ...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-brain-alt
          %h4
            %a{:href => "#"} NEUROPATHIC PAIN
          %p Diabetic Neuropathy, Diabetic Neuropathy, Peripheral Neuropathy, Central Neuropathy...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-autism
          %h4
            %a{:href => "#"} HEADACHES
          %p Migaraine, Tension Headache, PMS Headache, Trigeminal autonomic cephalalgia, Cluster Headache...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-lightning-ray
          %h4
            %a{:href => "#"} ABDOMINAL PAIN
          %p IBS, Gerd, Constipation, Colitis, Diverticulitis...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dna
          %h4
            %a{:href => "#"} AUTOIMMUNE DISORDER
          %p Fibromyalgia, Lupus, Rheumatoid Arthritis...
/ / End service

