.container
  .row
    .col-lg-12
      .section-title.tpadding-2
        %h2
          Service Prices
        %img{src: "/assets/section-img.png", alt: "#"}
        %p Your health is the most priceless!
        Our top-notch medical services vary in price depending on service, hours, and type of symptoms. For more information, please contact us by 
        %u phone, text or email.
        %br   
        %br   

= render partial: "/layouts/home_insurance", formats: :html
