%section.services.section.container
  .row
    .col-lg-12
      .section-title.tpadding-2
        %h2
          Service Price
        %img{src: "/assets/section-img.png", alt: "#"}
        %p Your health is the most priceless!
      .text-center
        %h5
          Our top-notch medical services vary in price depending on the type and time of service.
          %br
          %br
          For more detail, 
          %br
          %br
          please call or text at 
          %u (714)443-1779 
          %br
          %br
          or send an email to 
          %u info@life-and-nature.com

      
