<!-- Start service -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-law"></i>
          <h4><a href="#">ALLERGIES</a></h4>
          <p>Atopic dermatitis(eczema), Rashes, Urticaria, Angioedema (swelling), Itching and driness...</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-autism"></i>
          <h4><a href="service-details.html">AUTOIMMUNE DISORDERS</a></h4>
          <p>Psoriasis, Systemic lupus erythematosus, Scleroderma, Rashes, Blisters, Lesions, Scale patches...</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-girl-alt"></i>
          <h4><a href="service-details.html">ACNE • PIMPLES</a></h4>
          <p>Teenagesr acne, Stress acne, Cistic acne, Menopause acne, Acne on chest or back...</p>
        </div>
        </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-listening"></i>
          <h4><a href="service-details.html">FACE LIFT • SAGGING SKIN• WRINKLES</a></h4>
          <p>Drooping face, Inelastic skin, Fine wrinkles... </p> 
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-lightning-ray"></i>
          <h4><a href="service-details.html">DISCOLORLATION</a></h4>
          <p>Sunburn, Contact Dermatitis, Eczma, Rosacea, Age spots...
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service">
          <i class="icofont icofont-baby"></i>
          <h4><a href="service-details.html">SCARS</a></h4>
          <p>Enlarged pores, Acne scars, Burn scars....</p> 
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End service -->

<!-- Start clients -->
<div class="clients overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="owl-carousel clients-slider">
          <div class="single-clients">
            <img src="/assets/gallery/12.jpg" alt="Knee pain">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/17.jpg" alt="Kids Acupuncture">
          </div>
          <div class="single-clients">
            <img src="/assets/service-facial-acupuncture1.jpg" alt="facial acupuncture">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/29.jpg" alt="ear seeds">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/22.jpg" alt="facial acupuncture">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/31.jpg" alt="rheumatoid arthritis">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/41.jpg" alt="skin disease">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/43.jpg" alt="gout treatment">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/11.jpg" alt="hormonal balancing acupuncture">
          </div>
          <div class="single-clients">
            <img src="/assets/gallery/35.jpg" alt="back pain">
          </div>
          <div class="single-clients">
            <img src="/assets/service-facial-acupuncture2.jpg" alt="facial acupuncture">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--/Ens clients -->
