/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            The Beaty of Natural Medicines
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            is that the inner condition is expressed on the outside.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-snowy-rainy
          %h4
            %a{:href => "#"} ALLERGIES
          %p Atopic dermatitis(eczema), Rashes, Urticaria, Angioedema (swelling), Itching and driness...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dna-alt-2
          %h4
            %a{:href => "service-details.html"} AUTOIMMUNE DISORDERS
          %p Psoriasis, Systemic lupus erythematosus, Scleroderma, Rashes, Blisters, Lesions, Scale patches...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-bathtub
          %h4
            %a{:href => "service-details.html"} ACNE • PIMPLES
          %p Teenagesr acne, Stress acne, Cistic acne, Menopause acne, Acne on chest or back...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-zigzag
          %h4
            %a{:href => "service-details.html"} FACE LIFT • SAGGING SKIN• WRINKLES
          %p Drooping face, Inelastic skin, Fine wrinkles...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-goal-keeper
          %h4
            %a{:href => "service-details.html"} DISCOLORLATION
          %p
            Sunburn, Contact Dermatitis, Eczma, Rosacea, Age spots...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-confounded
          %h4
            %a{:href => "service-details.html"} SCARS
          %p Enlarged pores, Acne scars, Burn scars....
/ / End service

