.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Psoriasis, Eczema, Scaly, Itchy, Irritated Skin, Acne & Blemished Skin, Dermatitis, Inflammation, Hives(Urticaria)
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br
  .dez-separator.style-liner 

.container.has-text-centered
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue2.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Skin Allergies
        %p.is-6


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-autoimmune.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Autoimmune disorders
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Autoimmune disorders
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-women-skin1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Face Lift, Sagging Skin, Wrinkles         
        %p.is-6


