.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      We take a natural and holistic approach to improving skin problems. Those who have suffered from skin problems for a long time, and those who often recur after getting better, have internal problems. Natural healing has the advantage that there are no side effects and the effect of treatment lasts. Please call and discuss.
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br
  .dez-separator.style-liner 

.container.has-text-centered
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue2.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Skin Allergies
        %p.is-6


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-autoimmune.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Autoimmune disorders
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Acne
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-women-skin1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Face Lift, Sagging Skin, Wrinkles         
        %p.is-6


