/ Mail Success Page
%section.mail-seccess.section
  .container
    .row
      .col-lg-6.offset-lg-3.col-12
        / Error Inner
        .success-inner
          %h1
            %i.icofont-send-mail
            %span Your Reuest Has Been Sent Successfully!
          %p Thank you for contacting us. We will reply to your email soon.
          %a.btn{:href => "/"} Go Home
        / / End Error Inner
/ / End Mail Success

