/ Start Testimonials
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patients Say About Our Natural Medical Treatments
          %img{:alt => "#", :src => "/assets/section-img.png"}
%section.section.testimonials.overlay{"data-stellar-background-ratio" => "0.9"}
  .container
    .row
      .col-lg-12.col-12
        .owl-carousel.testimonial-slider
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/yt-joshua.jpg"}/
            %p I've been going to Soo Jin for for a couple months now to help alleviate back pain (which has been good!) but I didn''t expect acupuncture to help improve my overall body health too!<br>br> Totally worth it! <br><br>She explains the process well as she works on you and is gentle and kind too. I''d recommend this place to my friends and family.
            %br
            %br
            %br
            %br
            %br
            %h4.name Jousha S.   Hayward, CA
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/yt-steve-u.jpg"}/
            %p Soojin has been treating me for more then one year, when I started my chemo and radiation therapy for my cancer,  I fell that the acupuncture kept me from getting nausea and keeping my energy up. Soojin is a vary good acupuncturist she always takes time to ask how you are, is there any changes in your health. She will recommend some treatments and explain what she''s going to do. Soojin always make me feel vary cared for and I would recommend her to anyone, I would like to thank the Lord for sending her to me. PS, She will care for you like you are family. Thank you   
            %h4.name Steve U.   Santa Ana CA
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/6.jpg"}/
            %p I am very thankful to have been referred to Life & Nature Acupuncture. I was in a lot of pain and had chronic inflammation in my joints and bed bound for many years. This kind of pain I was in every morning, made me frustrated and I knew I needed real help. I have been convinced that Acupuncture is Amazing and it really does work. I still have a long way to go in my healing process but the help I am receiving is priceless. If you''re in chronic pain of any kind, come and experience getting real help from an expert.
            %br
            %h4.name Kimberly B. Tustin, CA
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/user.jpg"}
            %p I was in a lot of pain after my first chemo treatment. The bone ache and other side effects from the chemo drugs were unbearable. A friend told me about acupuncture. After my first visit with Dr. SooJin, I felt noticeably much better, almost right away. My pain and side effects have since subsided. I still have more chemo treatment to go, therefore will continue acupuncture concurrently to help alleviate any discomfort. I highly recommend Dr. SooJin. She's informative, gentle and has such a healing quality about her.
            %br
            %h4.name Flo L. Anaheim CA
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/user.jpg"}
            %p Excellent care,
            %br I'm currently being helped for diabetes, dizziness, hip pain, , overall care without the fear of medication side effects. I recently was in the hospital because of medication side effects. So I'm taking a holistic approach to my health. I have lost weight, my right hip pain has decreased significantly, my blood sugar is better controlled , I'm sleeping better and I have more energy. Thankyou SooJin your my doctor for life!
            %br            
            %h4.name Liz R. Anaheim CA

          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/user.jpg"}
            %p Since starting treatment I have seen significant improvement in my health. I am diabetic and have seen my glucose levels go from being in the high 300s to now being at 150 within my first month!!!Not only that but I have also noticed I have more energy then I did before coming here. Dr. Soo Jin is knowledgeable when it comes to providing information about nutrition and what changes you need to make in order to have your body feeling it's best. I would highly recommend anyone looking to get treatment or even a simple acupuncture to come here as they will treat you like family.
            %h4.name Danny R. Garden Grove CA
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/user.jpg"}/
            %p My friend recommended this place and I went not knowing what to expect. I filled out some paperwork and got recommended some treatment to help with my issues of back pain, bad sleep and just stress overall. I got acupuncture, cupping and some sessions on a back massage table. After 7 sessions, I have reduced back pain, better sleeping and feel more relaxed. Definitely worth a try to help better your life.
            %br
            %br
            %br
            %br
            %h4.name Miguel G. LA CA

          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/user.jpg"}/
            %p I’ve never had acupuncture before and was kind of nervous going in for a service but Soo Jin made me feel so comfortable and talked to me while she was inserting the needles. She’s very thorough and makes sure you are comfortable throughout the whole experience! I would recommend her for any minor injures or if you just need some time to relax.
            %br
            %br
            %br
            %br
            %br
            %br
            %h4.name Grace P. Anaheim CA

          / End Single Testimonial
    

/ / End Testimonials

