/ Start Testimonials
%section.section.testimonials.overlay{"data-stellar-background-ratio" => "0.9"}
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patients Say About Our Natural Medical Treatments
          %img{:alt => "#", :src => "/assets/section-img2.png"}/
    .row
      .col-lg-12.col-12
        .owl-carousel.testimonial-slider
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "/assets/gallery/1.jpg"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Ruhfayed Sakib
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Shakil Hossain
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Naimur Rahman
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Ruhfayed Sakib
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Shakil Hossain
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Naimur Rahman
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Ruhfayed Sakib
          / End Single Testimonial
          / Start Single Testimonial
          .single-testimonial
            %img{:alt => "#", :src => "https://via.placeholder.com/55x55"}/
            %p Lorem ipsum dolor sit amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros.
            %h4.name Naimur Rahman
          / End Single Testimonial
/ / End Testimonials

