.grid_100.has-text-justified.is-margin-top-2
  .container
    .row
      .grid-3-2.mycard-b
        %h2.is-4
          34 Years old man

      .grid-3.mycard
        %h2.is-4
          34 Years old man

    %br
    %br
    %h2.title.is-4.has-text-justified
      
    
