/ Start service
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Natural Medicine for Women's Optimal Health
          %img{src: "/assets/section-img.png", alt: "#"}
          %p 
            Unnatural foods and drugs are harmful to children who are not yet fully developed. Give our children the best.
          %br   

    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-crying
          %h4
            %a{:href => "service-details.html"} PMS SYMPTOMS
          %p Pain, Tension or anxiety, Depression, Headache, Crying spells, Mood swings and irritability or anger, Appetite changes, Insomnia, Poor concentration...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-dashboard
          %h4
            %a{:href => "service-details.html"} DETOX  BALANCED WEIGHT
          %p Over or Under Weight, Fatigue, GI Issues, Pain, Frequent Sickness and more...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-woman-bird
          %h4
            %a{:href => "service-details.html"} MENOPAUSE SYMPTOMS
          %p Vaginal dryness, Hot flashes, Chills, Night sweats, Sleep problems, Mood changes, Weight gain, Pain and more...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-law-alt-3
          %h4
            %a{:href => "service-details.html"} HORMONE BALANCE
          %p Irregular Periods, PCOS, Infertility, Irregular periods, Uterine fibroids, Osteoporosis, Loss of hairs...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-atom
          %h4
            %a{:href => "service-details.html"} ONCOLOGY SUPPORTIVE CARE
          %p cervical cancer, ovarian cancer, uterine cancer, vaginal cancer, vulvar cancer, and breast cancer...
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-scroll-bubble-down
          %h4
            %a{:href => "service-details.html"} INFERTILITY
          %p Irregular Period, PCOS, Anovulatory menstruation, IVF Support...
/ / End service
 
