<!-- Header Area -->
		<header class="header">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="/sites/meetus?menu_values=702">Meet Us</a></li>
								<li><a href="/contacts/new?menu_values=701">Contact</a></li>
								<li><a href="/questions_and_answers?menu_values=500">FAQ</a></li>
								<li><a href="/sites/galleries?menu_values=704">Galleries</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+714 443 1779</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:info@life-and-nature.com">info@life-and-nature.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="/assets/logo_sm.png" alt="Life and Nature Acupuncture Natural Medicine"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
								      <li class="active"><a href="/">Home</a></li>
											<li><a href="#">Services<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/sites/acupuncture?menu_values=201">Acupuncture</a></li>
													<li><a href="/sites/holistic-therapy?menu_values=202">Holistic Therapy</a></li>
													<li><a href="/sites/detox-weight-manage?menu_values=203">Detox & Balance</a></li>
													<li><a href="/sites/facial-acupuncture?menu_values=205">Facial Care</a></li>
													<li><a href="/sites/oncology?menu_values=206">Oncology Supportive Care</a></li>
                          <li><a href="/sites/natural-supplements?menu_values=207">Natural Supplements</a></li>
                          <li><a href="/sites/health-tests?menu_values=208">Health Tests</a></li>
												</ul>
											</li>
											<li><a href="#">Conditions<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
                          <li><a href="/sites/pain-management?menu_values=301">Chronic & Severe Pain</a></li>
                          <li><a href="/sites/neurological-disorders?menu_values=302">Neurological Disorders</a></li>
                          <li><a href="/sites/emotional-disorders?menu_values=303">Emotional Disorders</a></li>
                          <li><a href="/sites/autoimmune-disorders?menu_values=304">Autoimmune Disorders</a></li>
                          <li><a href="/sites/digestive-disorders?menu_values=305">Digestive Disorderes</a></li>
                          <li><a href="/sites/womens-health?menu_values=307">Women's Health</a></li>
                          <li><a href="/sites/mens-health?menu_values=310">Men's Health</a></li>
                          <li><a href="/sites/childrens-health?menu_values=308">Children's Health</a></li>
                          <li><a href="/sites/skin-conditions?menu_values=309">Skin Conditions</a></li>
												</ul>
											</li>
											<li><a href="#">Appointments<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/sites/appointments?menu_values=600">Appointments</a></li>
													<li><a href="/sites/price?menu_values=800">Price & Insurance</a></li>
												</ul>
											</li>

								      <li><a href="/sites/testimonials?menu_values=703">Testimonials</a></li>
											<!--li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/pt_resources?menu_values=400">Food & Diet</a></li>
													<li><a href="/pt_resources?menu_values=400">Nutritions & Sullpements</a></li>
													<li><a href="/pt_resources?menu_values=400">Articles</a></li>
												</ul>
											</li-->
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="/sites/appointments?menu_values=600" class="btn">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	
