.grid_100.has-text-centered
  .dez-separator.bg-primary.style-liner
  .container.has-text-centered.is-margin-top-2
    %span.life-img-container.life-ico-bg
      %img.life-block-style-4{:src => "#{ENV['IMG_PATH']}ico-cell.png"}
    %h2.is-4.is-margin-top-1
      To book your appointment please CALL or TEXT:
      %br
      %br
    %h2.title.is-3
      %b (714) 443-1779
    %br
    %span.life-img-container.life-ico-bg
      %img.life-block-style-4{:src => "#{ENV['IMG_PATH']}ico-email.png"}
    %h2.is-4.f-white

    %br
    %h2.is-4
      info@life-and-nature.com

  .box-4.marTop5
    %span.life-img-container.life-ico-bg
      %img.life-block-style-4{:src => "#{ENV['IMG_PATH']}ico-location.png"}
    %h3.is-4.f-white
      %p 520 N Brookhurst St. Suite 204 Anaheim, CA 92801
      %br
    %h2.is-4.f-white.upper
      Business Hours
      %br
      %br
    %h2.is-4.f-white.upper
      Mon ~ Fri (9:30AM ~ 6:00PM) 
      %br
      Sat (9:30AM ~ 4:00PM)
      %br



.footer_priv
  %p.txt_priv
    \© 2023
    %span.color2 •
    %a.link2{:href => "index-5.html"} Privacy policy

