<!-- Footer Area -->
<footer id="footer" class="footer ">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>About Us</h2>
            <p>We love all life and nature on Earth. We provide the true natural medicine for you and your family.</p>
            <!-- Social -->
            <ul class="social">
              <li><a href="#"><i class="icofont-facebook"></i></a></li>
              <li><a href="#"><i class="icofont-google-plus"></i></a></li>
              <li><a href="#"><i class="icofont-twitter"></i></a></li>
              <li><a href="#"><i class="icofont-vimeo"></i></a></li>
              <li><a href="#"><i class="icofont-pinterest"></i></a></li>
            </ul>
            <!-- End Social -->
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer f-link">
            <h2>Quick Links</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <ul>
                  <li><a href="/"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                  <li><a href="/sites/meetus?menu_values=702"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                  <li><a href="/sites/acupuncture?menu_values=201"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                  <li><a href="/sites/pain-management?menu_values=301"><i class="fa fa-caret-right" aria-hidden="true"></i>Conditions</a></li>	
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <ul>
                  <li><a href="/questions_and_answers?menu_values=500"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>	
                  <li><a href="/contacts/new?menu_values=701"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                  <li><a href="/sites/testimonials?menu_values=703"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>	

                  <li><a href="/users/sign_in?menu_values=1000"><i class="fa fa-caret-right" aria-hidden="true"></i>Log in</a></li>	
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Open Hours</h2>
            <p>We open Monday through Saturday</p>
            <ul class="time-sidual">
              <li class="day">Monday - Friday <span>9.30-6.00</span></li>
              <li class="day">Saturday <span>9.30-4.00</span></li>
              <li class="day">Holidays<span>Closed</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Newsletter</h2>
            <p>We are preparing a newsletter containing useful information for your daily health.</p>
            <div class="subscribe-form">
              <%= render "/layouts/subscription_form", subscription_list: @subscription_list%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="copyright-content">
            <p>© Copyright 2023.  All Rights Reserved by <a href="https://www.life-and-nature.com" target="_blank">Life and Nature</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->




