.container
  .row.ins
    - @galleries.each do |n|
      - if n["filename"]
        - if n["id"] % 3 == 1
          .col-lg-3.col-md-6.col-12
            %img.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}gallery/" +  n["filename"]}
              %h2.title.is-5 
              %p.small

        - else 
          .col-lg-3.col-md-6.col-12

            %img.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}gallery/" +  n["filename"]}
              %h2.title.is-5
              %p.small

   
