.container
  .row
    .col-lg-12
      .section-title
        %h2
          Insurance
        %img{src: "/assets/section-img.png", alt: "#"}
        %p 
          If you are an insured patient, please send a copy(photo) of your insurance card along with your DoB to our phone number(714.443.1779) or email address(info@life-and-nature.com) when making your first appointment.
          %br   
          We will check your insurance coverage and benefits in advance.
        %br   
        %img{src: "/assets/section-img.png", alt: "#"}
        %br   
        %br   
        %h4 WE ACCEPT MOST MAJOR INSURANCE PLANS AND MEDICARE

  .container
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img8{:alt => "", :src => "/assets/atena.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/anthem.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/blue.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img8{:alt => "", :src => "/assets/caloptima.png"}
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/humana.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/hn.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/kaiser.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/uh.jpg"}
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/cigna.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/wellcare.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/scan.png"}
      .col-lg-3.col-md-6.col-12







