/ Start Fun-facts
#fun-facts.fun-facts.section.overlay
  .container
    .row
      .col-lg-3.col-md-6.col-12
        / Start Single Fun
        .single-fun
          %i.icofont.icofont-home
          .content
            %span.counter 3468
            %p Hospital Rooms
        / End Single Fun
      .col-lg-3.col-md-6.col-12
        / Start Single Fun
        .single-fun
          %i.icofont.icofont-user-alt-3
          .content
            %span.counter 557
            %p Specialist Doctors
        / End Single Fun
      .col-lg-3.col-md-6.col-12
        / Start Single Fun
        .single-fun
          %i.icofont-simple-smile
          .content
            %span.counter 4379
            %p Happy Patients
        / End Single Fun
      .col-lg-3.col-md-6.col-12
        / Start Single Fun
        .single-fun
          %i.icofont.icofont-table
          .content
            %span.counter 32
            %p Years of Experience
        / End Single Fun
/ / End Fun-facts

