.container
  .row
    .col-lg-12
      %hr
  .row
    .col-lg-12
      .section-title
        %h2
          Insurance
        %img{src: "/assets/section-img.png", alt: "#"}
        %p 
          If you want to check your insurance benefits, call or text us at (714)443-1779.
          %br       
          We issue Superbills for your reimbursement from your HSA or HRA.             
        %br   
        %img{src: "/assets/section-img.png", alt: "#"}
        %br   
        %br   
        %h4 WE ACCEPT MOST MAJOR INSURANCE PPO PLANS and CalOptiman Medical
        

  .container
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img8{:alt => "", :src => "/assets/atena.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/anthem.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/blue.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img8{:alt => "", :src => "/assets/caloptima.png"}
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/humana.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/hn.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/clevercare.png"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/uh.jpg"}
    .row.ins
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/cigna.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/wellcare.jpg"}
      .col-lg-3.col-md-6.col-12
        %img.img9{:alt => "", :src => "/assets/scan.png"}
      .col-lg-3.col-md-6.col-12







