/ Start Feautes
%section.Feautes.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 We Are Always Ready to Help You  Your Family
          %img{:alt => "#", :src => "/assets/section-img.png"}
            %p We unlock the keys in your body that can open the doors that lead to your healing journey.
      .row
        .col-lg-4.col-12
          / Start Single features
          .single-features
            .signle-icon
              %i.icofont.icofont-doctor
            %h3 Holistic Treatments
            %p We provide the most trustworthy natural therapies including acupuncture, cupping, EMS, ENS, sports therapy massage and more.
          / End Single features
        .col-lg-4.col-12
          / Start Single features
          .single-features
            .signle-icon
              %i.icofont.icofont-avocado
            %h3 Diet Consulting
            %p Did you know that the right diet can heal your body? We will help you with the right diet method according to your body type and current condition.
          / End Single features
        .col-lg-4.col-12
          / Start Single features
          .single-features.last
            .signle-icon
              %i.icofont.icofont-test-bottle
            %h3 Natural Supplements
            %p The 3 pillars of natural medicine: botanical, homeopathy, and nutrition. These tailored protocols are geared towards supporting the structure and function of the body.
          / End Single features
  / / End Feautes

