.container
  .row
    .col-lg-12
      %hr
  .row
    .col-lg-12
      .section-title
        %h2
          Insurance
        %img{src: "/assets/section-img.png", alt: "#"}
        %p 
          If you want to check your insurance benefits, call or text us at (714)443-1779.
          %br       
          We issue Superbills for your reimbursement from your HSA or HRA.             
        %br   
        %img{src: "/assets/section-img.png", alt: "#"}
        %br   
        %br   
        %h4 Current We Accept CalOptima Community Network Only
        


