.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    Common
    %font.txt_dgreen Conditions
    that we treat

.container.text-center.is-margin-top-2
  .row 
    .col
      .card.text-bg-dark
        %a{:href => "/sites/pain?menu_values=301"} 
          %img.card-img{:alt => "Condition", :src => "/assets/condition-pain.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-pain-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Chronic & Severe Pain
            %p.card-text
            %small Musculoskeletal Disorders, 
            %br 
            %small Arthritis, Sport Injury ...
    
    .col
      .card.text-bg-dark
        %a{:href => "/sites/neurology?menu_values=302"} 
          %img.card-img{:alt => "Condition", :src => "/assets/condition-neurology.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-neurology-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Neurological Disorders 
            %p.card-text
            %small Post Stroke, Migrain,
            %br 
            %small Fibromyalgia, ALS, MS
          

    .col
      .card.text-bg-dark
        %a{:href => "/sites/emotion?menu_values=303"} 
          %img.card-img{:alt => "Condition", :src => "/assets/condition-mood.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-mood-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Mood Emotional Disorders
            %p.card-text
            %small Anxiety, Panic Attacks,
            %br 
            %small Depression, Sleep Disorder  

    .col
      .card.text-bg-dark
        %a{:href => "/sites/autoimmune?menu_values=304"}
          %img.card-img{:alt => "Condition", :src => "/assets/condition-autoimmune.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-autoimmune-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Autoimmune Disorders
            %p.card-text
            %small Thyroiditis, Chronic Fatigue,
            %br 
            %small IBS, Rheumatoid Arthritis ...
 
  .row 
    .col
      .card.text-bg-dark
        %a{:href => "/sites/oncology?menu_values=206"}  
          %img.card-img{:alt => "Condition", :src => "/assets/condition-cancer.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-cancer-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Cancer
            %br
            %small Cancer Pain, Boost Immune,             
            %br
            %small Side effect of Chemo & Radiation
    
    .col
      .card.text-bg-dark
        %a{:href => "/sites/reproductive?menu_values=307"} 
          %img.card-img{:alt => "Condition", :src => "/assets/condition-reproductive.jpg"}
          %img.card-img.img-top{:alt => "Conditionservice", :src => "/assets/condition-reproductive-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Women's Health
            %p.card-text
            %small Infertility, Miscarriage,
            %br 
            %small PMS, Skin Issues ...

    .col
      .card.text-bg-dark
        %a{:href => "/sites/pediatric?menu_values=308"}
          %img.card-img{:alt => "Condition", :src => "/assets/condition-pediatric.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-pediatric-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Children's Health
            %p.card-text
            %small Autisms, ADHD, Allergies, 
            %br 
            %small Frequent Illness, Delayed Growth ... 

    .col
      .card.text-bg-dark
        %a{:href => "/sites/skincondition?menu_values=309"}
          %img.card-img{:alt => "Condition", :src => "/assets/condition-skin.jpg"}
          %img.card-img.img-top{:alt => "Condition", :src => "/assets/condition-skin-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Skin Conditions
            %p.card-text
            %small Psoriasis, Eczema, 
            %br 
            %small Irritated Skin,  Acne, Dermatitis  
           
           
     
