/ Start Feautes
%section.Feautes.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 We Are Always Ready to Help You 
          %img{:alt => "#", :src => "/assets/section-img.png"}
            %p We unlock the keys in your body and open the doors that lead you to the healing journey.
      .row
        .col-lg-4.col-12
          / Start Single features
          .single-features
            .signle-icon
              %i.icofont.icofont-doctor
            %a{:href => "/sites/holistic-therapy?menu_values=202"}
              %h3 Functional Medicine
            %p.text-justified 
              We, in the field of functional medicine, work holistically, considering the full picture of your physical, mental, emotional and sometimes spiritual health.
              We consider factors such as diet, genetics, hormonal changes, prescription and over-the-counter medications, and other lifestyle factors to find and treat the root cause rather than just masking the symptoms.
          / End Single features
        .col-lg-4.col-12
          / Start Single features
          .single-features
            .signle-icon
              %i.icofont.icofont-avocado
            %h3 Diet Consulting
            %p.text-justified
              We discuss and analyze the patient's current eating habits, educate them about the importance of certain foods and nutrients. We will also study your health history to determine your specific nutritional needs and develop a meal plan to promote your personal health and well-being.
              
          / End Single features
        .col-lg-4.col-12
          / Start Single features
          .single-features.last
            .signle-icon
              %i.icofont.icofont-test-bottle
            %a{:href => "/sites/natural-supplements?menu_values=207"}
              %h3 Vitamin Therapy
            %p.text-justified 
              If you don't take the right supplements you need and take low-quality, unnecessary supplements, they can become toxic or waste in your body.
              We have nutrition and vitamin therapy specialist who can prescibe you the hightest quality natural supplements. 
          / End Single features
  / / End Feautes

