/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        %hr
    .row
      .col-lg-12
        .section-title
          %h2 We Offer High Quality Natural Medical Services for You and Your Family
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p We care for you!
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Who We Are
          %p           
            We stick to the basics of medicine. For our benefit, not harming the patient should be basically kept. All patients who trust us and faithfully pay for treatment are confident that they have seen the effect of the treatment they want. 
          %p 
            We provide the best natural medicine to those suffering from chronic diseases and seeking true healing.
          .row
            .col-lg-6
              %ul.list
                %li
                  %i.fa.fa-caret-right>
                  Banalcing Acupuncture
                %li
                  %i.fa.fa-caret-right>
                  Head and Scalp Acupuncture
                %li
                  %i.fa.fa-caret-right>
                  Facial Care 
            .col-lg-6
              %ul.list
                %li
                  %i.fa.fa-caret-right>
                  Sports Therapy
                %li
                  %i.fa.fa-caret-right>
                  Cupping Therapy
                %li
                  %i.fa.fa-caret-right>
                  Massage Therapy
        / End Choose Left
      .col-lg-6.col-12
        / Start Choose Rights
        .choose-right{"data-bgimage" => "/assets/gallery/4.jpg", "data-overlay" => "1", :style => "background-image: url(\"/assets/gallery/4.jpg\");"}
        / End Choose Rights
/ / End Why choose



