.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen WE ACCEPT MOST MAJOR INSURANCE PLANS

.container
  %h2.is-5.has-text-centered
    If you have any questions about insurance or price, 
    %br 
    please contact us at
    %u (714) 443-1779
    or email to  
    %u info@life-and-nature.com

  .row.has-text-centered.is-margin-top-2
    .grid-3
      %img.img8{:alt => "", :src => "/assets/atena.jpg"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/anthem.jpg"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/blue.jpg"}

  .row.has-text-centered
    .grid-3
      %img.img9{:alt => "", :src => "/assets/humana.jpg"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/hn.jpg"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/kaiser.jpg"}

  .row.has-text-centered
    .grid-3
      %img.img9{:alt => "", :src => "/assets/uh.jpg"}
    .grid-3
      %img.img9{:alt => "", :src => "/assets/cigna.jpg"}
    .grid-3
      %img.img9{:alt => "", :src => "/assets/wellcare.jpg"}






