%section.services.section
  .container
    .row
      .col-lg-12
        %hr
    .row
      .col-lg-12
 
        .section-title
          %h2 Our Natural Health Care Services
          %img{src: "/assets/section-img.png", alt: ""}
          %p
    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-magic
          %h4 
            %a{href: "/sites/acupuncture?menu_values=201"}
              Acupuncture 
          %p 
            Balancing Acupuncture, Scalp Acupuncture, Facial Acupuncture, Ear Acupuncture, Electro Acupuncture, Pediatric Acupuncture
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-operation-theater
          %h4 
            %a{href: "/sites/holistic-therapy?menu_values=202"}
              Holistic Therapy
          %p 
            Cupping Therapy, Theraupeutic Massage Bed, EMS & TENS, Acupressusre, Scraping Massage, Sports Tape  	
      
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-cat-face
          %h4
            %a{href: "/sites/facial-acupuncture?menu_values=205"}
              Facial Care  
          %p Facial Acupuncture, Cosmetic Acupuncture, Acne Treatment, Herbal Facial Massages, Guasha Teraphy 
        
    .row
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-history
          %h4 
            %a{href: "/sites/detox-weight-manage?menu_values=203"}
              Detox & Balance 
          %p 
            Toxicity Questioaire, Balanced Weight, Toxic And Essetional Element Test, Anti-Inflamatory Diet, High-Quality & Whole Food-Based Detox Kits.
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-atom
          %h4 
            %a{href: "/sites/oncology?menu_values=206"}
              Oncology Supportive Care  
          %p Natural Immunotherapy, Acupuncture Treatments, Prescribed Herbal Medicine, Nutritional Supports, Meal Plan, Detox Program. 	
      
      .col-lg-4.col-md-6.col-12
        .single-service
          %i.icofont.icofont-medicine
          %h4
            %a{href: "/sites/natural-supplements?menu_values=207"}
              Natural Supplements
          %p  	
            We believe in combining the 3 pillars of natural medicine: botanical, homeopathy, and nutrition. These tailored protocols are geared towards supporting the structure and function of the body.
 
