.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen Power 
    of the
    %font.txt_dgreen Natural Healing 

.container
  %h2.is-4.has-text-justified
    Your body can heal itself better than you know. However, it has been obscured or damaged by lifestyle, eating habits, environment, stress, and drug abuse. With a holistic approach for such people, we have awakened the body's natural healing ability and helped many long-suffering patients return to normal daily lives.
    %br
    %br
      There are many testimonies that holistic natural medicine, proper eating habits, exercise, and lifestyle can not only prevent various diseases, but also treat diseases that cannot be cured with conventional medicines.
    %br
      We are here to help you start your new healing journey!
    %br
      A multimodal holistic approach using acupuncture, physical therapy, and integrative medicine (homeopathy, nutritional and phytotherapy) to detoxify the body, strengthen the immune system, and treat pain, frequent illness, chronic symptoms and depression. 
    %br
    %br
