.container
  .row
    .col-lg-12
      .section-title
        %h2
          Insurance
        %img{src: "/assets/section-img.png", alt: "#"}
        %p 
          Please contact us if you want to check your insurance coverage and benefits
        %br   
        %img{src: "/assets/section-img.png", alt: "#"}
        %br   
        %br   
        %h4 WE ACCEPT MAJOR INSURANCE PLANS AND CalOptima

   
