.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen WE ACCEPT MOST MAJOR INSURANCE PLANS

.container
  %h2.is-5.has-text-centered
    If you have any questions about insurance or price, please give us 
    a text or a call at 
    %u (714) 443-1779
    %br 
    or send us an email at  
    %u info@life-and-nature.com

  .row
    .grid-3
      %img.img8{:alt => "", :src => "/assets/aetna.png"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/anthem.png"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/bs.png"}

  .row
    .grid-3
      %img.img9{:alt => "", :src => "/assets/humana.png"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/healthnet.jpg"}

    .grid-3
      %img.img9{:alt => "", :src => "/assets/kaiser.jpg"}

  .row
    .grid-3
      %img.img9{:alt => "", :src => "/assets/uhc.jpg"}
    .grid-3
      %img.img9{:alt => "", :src => "/assets/cigna.png"}






