<!--script type="text/javascript" src="/assets/animation.js"></script> <script type="text/css" src="/assets/animation.css"></script-->
<div class="image_container is-marginless">
  <div class="container has-text-centered">
    <div class="brand_intro">
      <h1 class="title is-0">Start 
        <span class="title thin">your</span>
        healing journey
      <p>With the most trusted way in personalized, natural wellness</p>
    </div> 
  </div>

</div>

