<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
<!-- font-awesome font -->
<!--link rel="stylesheet" href="/assets/font-awesome.css">
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script-->

  <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"-->
    <meta name="google-site-verification" content="TUlV5BQ7sdG8Kt_jLub22UcRXHMAG86PJeiAM_wKJAU" />

    <!--meta name="google-site-verification" content="sE_JVpBfKv17_41ME7GrlvEHBNiwVYjNQVFl4-Qhchw" /-->
    <!-- fontello font -->

    <!--[if lt IE 8]>
      <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
      <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <link rel="stylesheet" type="text/css" media="screen" href="/assets/ie.css">
    <![endif]-->


    <!--Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122306574-1"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-122306574-1');
    </script>


    <!-- Total Natural Body Care -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110988382-1"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-110988382-1');
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/assets/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="/assets/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/assets/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/assets/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="/assets/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/magnific-popup.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <link rel="stylesheet" href="/assets/title.css">

    <!-- Color CSS -->
    <!--link rel="stylesheet" href="/assets/color/color1.css"-->
    <!--<link rel="stylesheet" href="/assets/color/color2.css">-->
    <!--link rel="stylesheet" href="/assets/color/color3.css"-->
    <!--<link rel="stylesheet" href="/assets/color/color4.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color5.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color6.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color7.css">-->
    <link rel="stylesheet" href="/assets/color/color8.css">
    <!--<link rel="stylesheet" href="/assets/color/color9.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color10.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color11.css">-->
    <!--<link rel="stylesheet" href="/assets/color/color12.css">-->
