/ Start clients
.clients.overlay
  .container
    .row
      .col-lg-12.col-md-12.col-12
        .owl-carousel.clients-slider
          .single-clients
            %img{:alt => "Knee pain", :src => "/assets/products/detox-sp-complete.jpg"}/
          .single-clients
            %img{:alt => "Kids Acupuncture", :src => "/assets/products/detox-bs-livotrit.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/products/detox-bs-nutriclear.jpg"}/
          .single-clients
            %img{:alt => "ear seeds", :src => "/assets/products/detox-bs-receptor.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/products/detox-candida.jpg"}/
          .single-clients
            %img{:alt => "rheumatoid arthritis", :src => "/assets/products/detox-candida-kit.jpg"}/
          .single-clients
            %img{:alt => "skin disease", :src => "/assets/products/detox-desbio.jpg"}/
          .single-clients
            %img{:alt => "gout treatment", :src => "/assets/products/detox-bs-biodetox.jpg"}/
          .single-clients
            %img{:alt => "hormonal balancing acupuncture", :src => "/assets/products/detox-sp-purification.jpg"}/
          .single-clients
            %img{:alt => "back pain", :src => "/assets/products/detox-th-mediclear.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/products/detox-desbio-bart.jpg"}/
/ /Ens clients

