/ Start clients
.clients.overlay
  .container
    .row
      .col-lg-12.col-md-12.col-12
        .owl-carousel.clients-slider
          .single-clients
            %img{:alt => "Knee pain", :src => "/assets/gallery/12.jpg"}/
          .single-clients
            %img{:alt => "Kids Acupuncture", :src => "/assets/gallery/17.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/service-facial-acupuncture1.jpg"}/
          .single-clients
            %img{:alt => "ear seeds", :src => "/assets/gallery/29.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/gallery/22.jpg"}/
          .single-clients
            %img{:alt => "rheumatoid arthritis", :src => "/assets/gallery/31.jpg"}/
          .single-clients
            %img{:alt => "skin disease", :src => "/assets/gallery/41.jpg"}/
          .single-clients
            %img{:alt => "gout treatment", :src => "/assets/gallery/43.jpg"}/
          .single-clients
            %img{:alt => "hormonal balancing acupuncture", :src => "/assets/gallery/11.jpg"}/
          .single-clients
            %img{:alt => "back pain", :src => "/assets/gallery/35.jpg"}/
          .single-clients
            %img{:alt => "facial acupuncture", :src => "/assets/service-facial-acupuncture2.jpg"}/
/ /Ens clients

