/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patient Say About Our Service
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p Here is the testimony of someone who has finished the journey before you.
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Totally worth it!
          %p           
            I've been going to Soo Jin for for a couple months now to help alleviate back pain (which has been good!) but I didn''t expect acupuncture to help improve my overall body health too!
            %br Totally worth it! 
            %br
            %br
              She explains the process well as she works on you and is gentle and kind too. I''d recommend this place to my friends and family.
          %p
            %br
            %br
              Jousha S. Hayward, CA

      .col-lg-6.col-12
        / Start Choose Rights
        .choose-right{"data-bgimage" => "/assets/yt-joshua.jpg", "data-overlay" => "1", :style => "background-image: url(\"/assets/yt-joshua.jpg\");"}
          .video-image
            / Video Animation
            .promo-video
              .waves-block
                .waves.wave-1
                .waves.wave-2
                .waves.wave-3
            / / End Video Animation
            %a.video{:href => "https://youtu.be/h7g5N3qiVeg?feature=oembed=0=0=0", :target => "_blank"}
              %i.fa.fa-play
        / End Choose Rights
/ / End Why choose



