/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patient Say About Our Service
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p Here is the testimony of someone who has finished the journey before you.
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Atopic Eczma
          %p  
            My Recurrent eczma has been gone!         
            %br
            %br
            I have a very rare form of liver cancer that was diagnosed 10 years ago. I frequently suffer from persistent diarrhea, weight loss, and skin problems. Soo Jin provided diet advice, acupuncture treatment, topical cream, and natural supplements tailored to my condition. My bowel movements are gradually improving and my skin is becoming clearer! I am so grateful for her care and treatment!
            %br
          %p
            Kathy Kobayashi.   Anaheim, CA
            %br
      .col-lg-6.col-12
        / Start Choose Rights
        %img.choose-right{:src => "/assets/KK_progress.jpg"}
        / End Choose Rights
/ / End Why choose



