/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patient Say About Our Service
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p Here is the testimony of someone who has finished the journey before you.
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Rheumatoid Arthritis
          %p  
            Acupuncture is Amazing and it really does work!         
            %br
            %br
            I am very thankful to have been referred to Life & Nature Acupuncture. I was in a lot of pain and had chronic inflammation in my joints and bed bound for many years. This kind of pain I was in every morning, made me frustrated and I knew I needed real help. I have been convinced that Acupuncture is Amazing and it really does work. I still have a long way to go in my healing process but the help I am receiving is priceless. If you''re in chronic pain of any kind, come and experience getting real help from an expert.'
            %br
          %p
            Kimberly B.   Tustin, CA
            %br
      .col-lg-6.col-12
        / Start Choose Rights
        %img.choose-right{:src => "/assets/testimony-kim-b.jpg"}
        / End Choose Rights
/ / End Why choose



