/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patient Say About Our Service
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p Here is the testimony of someone who has finished the journey before you.
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Acupuncture kept me from getting nausea and keeping my energy up
          %p           
            Soojin has been treating me for more then one year, when I started my chemo and radiation therapy for my cancer,  I fell that the acupuncture kept me from getting nausea and keeping my energy up. 
            %br
            Soojin is a vary good acupuncturist she always takes time to ask how you are, is there any changes in your health. She will recommend some treatments and explain what she''s going to do. Soojin always make me feel vary cared for and I would recommend her to anyone, I would like to thank the Lord for sending her to me.
          %p
            PS. She will care for you like you are family. 
            %br Thank you
            %br
            %br
              Steve U. Santa Ana, CA

      .col-lg-6.col-12
        / Start Choose Rights
        .choose-right{"data-bgimage" => "/assets/yt-steve-u.jpg", "data-overlay" => "1", :style => "background-image: url(\"/assets/yt-steve-u.jpg\");"}
          .video-image
            / Video Animation
            .promo-video
              .waves-block
                .waves.wave-1
                .waves.wave-2
                .waves.wave-3
            / / End Video Animation
            %a.video{:href => "https://youtu.be/NYyN8Q5ew3E", :target => "_blank"}
              %i.fa.fa-play
        / End Choose Rights
/ / End Why choose



