/ Start Why choose
%section.why-choose.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2 What Our Patient Say About Our Service
          %img{:alt => "#", :src => "/assets/section-img.png"}/
          %p Here is the testimony of someone who has finished the journey before you.
    .row
      .col-lg-6.col-12
        / Start Choose Left
        .choose-left
          %h3 Recurrent Diverticulitis
          %p  
            My Guts Have Recovered, But Look What Happened to My Toes!         
            %br
            %br
            In May and June 2018, I was taken to the emergency room twice due to high fever and severe abdominal pain. And I was treated with serious antibacterial drugs for diverticulitis. However, my physical condition seemed to be getting worse and my energy level was falling, so I was unable to go to work for a while. All my friends and family prayed for me. I didn't know what was going to happen to me. My wife's friend recommended Soo Jin. My wife took me to see her. That was my first experience with natural medicine. I underwent a strict diet program for a month along with acupuncture and herbal medicine treatments by Dr. Soo Jin.
            I felt really different after that. The fever and pain disappeared, and the stomach and intestinal discomfort that had always bothered me also disappeared. I continued to follow the treatment and diet program and not only healed, but regained my health. Look what happened to my toes! I have had toenail fungus and rot since I was in my 30s. One day I noticed that old things were falling out and new things were coming out. And the pigmentation and dryness of my skin is clearing up and glowing. Now I believe that natural health care is the path to optimal health.
            %br
          %p
            Jose Vasquez.   Santa Ana, CA
            %br
      .col-lg-6.col-12
        / Start Choose Rights
        %img.choose-right{:src => "/assets/Jose-V-progress.jpg"}
        / End Choose Rights
/ / End Why choose



