- if @reviews['youtube']
  %iframe.i_overlay{:frameborder => "0", :height => "300", :src => @reviews['youtube'], :width => "90%"}
- if @reviews['picture']
  %img.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}gallery/" + @reviews['picture']}

